
.prev-directory {
    -fx-background-radius: 4px 0 0 4px;
    -fx-border-radius: 4px 0 0 4px;
    /*-fx-border-color: transparent;*/
}

.parent-directory {
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
}

.next-directory {
    -fx-border-radius: 0 4px 4px 0;
    -fx-background-radius: 0 4px 4px 0;
}

.arrow-line {
    -fx-stroke: black;
    -fx-stroke-width: 2.5;
}

.menu-option {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #f4f4f4;
    -fx-padding: 5px 13px;
    -fx-font-size: 13.5px;
    -fx-text-fill: #525252;
}

.menu-option:hover {
    -fx-background-color: #d6d6d6;
}

.file-box:hover {
    -fx-background-color: #d6d6d6;
}
