
.root {
    -fx-background-color: black;
}

.navigation-panel {
    -fx-background-color: #393939;
}

.navigate-button {
    -fx-background-color: #4a4a4a;
    -fx-border-color: #232323;
    -fx-border-width: 1px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.navigate-button:hover, .reload-button:hover {
    -fx-background-color: #595959;
}

.navigate-button:focused {
    -fx-border-color: #39aac5;
}

.arrow-line {
    -fx-stroke: #d8d5d5;
    -fx-stroke-width: 2.5;
}

.reload-button {
    -fx-background-color: #4c4c4c;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: #d8d5d5;
}

.menu-option:hover {
    -fx-background-color: #555;
}

.split-pane > .split-pane-divider {
    -fx-padding: 2px;
    -fx-background-color: #353535;
    -fx-border-color: #2e2e2e;
    -fx-border-width: 2px;
}

.menu {
    -fx-background: #303030;
}

.menu-option {
    -fx-text-fill: #eee;
}

.files-pane {
    -fx-background: #2b2b2b;
}

.file-box:hover {
    -fx-background-color: rgba(103, 103, 103, 0.46);
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 12px;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #353535;
    -fx-background-radius: 4;
}