
.title-label {
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-max-width: 370px;
}

.button {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0 0 0 20;
}

.button:hover {
    -fx-background-color: lightblue;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}